# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.log

# Ambientes
.env
.env.*
.venv/
*.sqlite3

# Editor/IDE
.vscode/
.idea/
*.swp

# Docker
.dockerignore
docker-compose.override.yml

# Outros
*.bak
